# Python
__pycache__/
*.pyc
venv/
.env

# Node
node_modules/
.next/

# Models & data
models/
data/
indices/
*.zip
*.wav

# OS
.DS_Store
Thumbs.db

# Schema Models
!backend/app/models/
!backend/app/models/*.py